---
import { ClientRouter } from "astro:transitions";
import "@/assets/styles/global.css";
import BaseHead from "@/components/shell/BaseHead.astro";
import Header from "@/components/Header.astro";
import Search from "@/components/search/Search.astro";
import { SITE } from "@/lib/site-config";

interface Props {
  title: string;
  description?: string;
  image?: string;
  pageType?: "website" | "article";
  publishedTime?: Date;
  modifiedTime?: Date;
  tags?: string[];
}

const {
  title,
  description = SITE.description,
  image,
  pageType,
  publishedTime,
  modifiedTime,
  tags,
} = Astro.props;
---

<!doctype html>
<html lang="en" class="antialiased">
  <head>
    <BaseHead
      {title}
      {description}
      {image}
      {pageType}
      {publishedTime}
      {modifiedTime}
      {tags}
    />
    <ClientRouter />
  </head>
  <body
    class="bg-background text-foreground min-h-screen selection:bg-primary/30 selection:text-primary"
  >
    <Header />
    <slot />
    <Search />
  </body>
</html>
